{% extends 'base.html '%}

{% block title %}About us {% endblock title %}

{% block content %}

  <div class="jumbotron">
      <h1 class="display-4">Newspaper app</h1>
      <p class="lead">We are at the center of it all</p>
      <p class="lead">
          USA TODAY NETWORK is the largest local-to-national digital media organization in the country. USA TODAY, our national flagship brand, sits at the center of the NETWORK, surrounded by hundreds of local media properties reporting on the stories and cultural moments happening across America and in our communities.
      </p>
  </div>

  <div class="jumbotron bg-primary" >
      <h1 class="display-5">Voice of a nation</h1>
      <p class="lead">
          We work to be a center for balanced discourse. Our editorial is inclusive and represents the voice of an entire nation. Quick to read and useful, we’re not information overload; we’re a clear-cut guide to what’s most important.
      </p>
  </div>

  <div class="jumbotron bg-warning" >
      <h1 class="display-5">Our NETWORK is our superpower</h1>
      <p class="lead">
Unlike any other media organization, we combine the national exposure of USA TODAY with 200+ local digital properties across 45 states. Our 4,000 journalists live, work and thrive in these communities, providing coverage of the entire nation on the USA TODAY platform.

Together, our network news outlets have received 96 Pulitzers and have been recognized with numerous other state, regional, and national awards, including the Edward R. Murrow Award; Columbia Dupont; George Polk Awards; Robert F. Kennedy Journalism Award; and the Batten Medal.

*as of July 2022
      </p>
  </div>

{% endblock %}